* {
    margin: 0;
    padding: 0;
  }

.header-container{
background-color: #59c9a5ff;
padding: 9px 11px;
list-style: none;
}

.imagem {
 border:#465775;
 border-radius: 50%;
 position: absolute;
 left: 50px;
 top: 120px;
 z-index: 1;

}

h1 {
    text-align: center;

}

.header-container a {
    text-decoration: none;
    color: #3d405bff;
    font-weight: bold;
}

body {
font-family: 'Alumni Sans Pinstripe', sans-serif;
background-color: #f4f1deff;

}

h1 {
    font-family: 'Cantarell', sans-serif;
    color: #e07a5fff;  
}

.about {
    opacity: 80%;
    padding: 15px 30px;
    border-radius: 80px;
    background-color: #e07a5fff;
    text-align: center;
    color:#3d405bff;
    font-weight: bold;
}
.about p ul {
    
}
.about h3 {
    right: 20%;
}
.about ul {
    list-style: none;
}
.about li{
    left: 50%;
}

footer{
    display: inline-block;
    background-color: #81b29aff;
    text-decoration: none;
}
