.header-container{
background-color: #59c9a5ff;
padding: 9px 11px;
list-style: none;
}

.header-container a {
    text-decoration: none;
    color: #5b6c5dff;
    font-weight: bold;
}

body {
font-family: 'Alumni Sans Pinstripe', sans-serif;
}

h1 {
    font-family: 'Cantarell', sans-serif;
    color: #ef6f6cff;  
}

.about {
    background-color: #ef6f6cff;
    opacity: 50%;
    padding: 15px 30px;
    border-radius: 80px;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style: none;
}
